# pidp11-useroptions.rc - 20-Oct-25 TMK
#
# This file is included when "pidp11control" is run. You can set
# environment variables in this script or perform other steps at
# startup.
#
# CAUTION: There is no syntax checking when this file is executed.
#          Any errors should appear in the pdp11control window.
#
# Examples:
# 1) Execute arbitrary bash commands
# echo "Hello from /opt/pidp11/pidp11-useroptions.rc"
#
# 2) Change the rotation direction of the knobs (clockwise rota-
#    tion of the knobs should result in clockwise rotation of the
#    corresponding LEDs. If instead you get backwards roration,
#    un-comment the following line:
# export PIDP_11_ROTATION="FLIP"
#
# 3) Set the initial "ADDR" knob position (range: 0-7, default: 1)
#    0 = Prog Phy
#    1 = Cons Phy
#    2 = Kernel D 
#    3 = Super D
#    4 = User D
#    5 = User I
#    6 = Super I
#    7 = Kernel I
# export PIDP_11_KNOB_ADDR=0
#
# 4) Set the initial "DATA" knob position (range: 0-3, default: 1)
#    0 = Bus Reg
#    1 = Data Paths
#    2 = uADR CPU FPU
#    3 = Display Register
# export PIDP_11_KNOB_DATA=1
#
# End of pidp11-useroptions.rc
